.domain-banner {
    height: 280px;
    background: linear-gradient(rgb(107 96 96 / 53%), lch(40 4.29 19.88 / 0.45)), url(/src/assets/banner.png) top / cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.domain-banner h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
}



.domain-section {
  padding: 70px 80px;
  background: #fff;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 45px;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #e91e63;
}


.domain-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
}


.domain-card {
  background: #fff;
  border-radius: 14px;
  padding: 28px 20px 24px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  transition: all 0.3s ease;
  color: #222;
}

.domain-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

.domain-card img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 14px;
}

.domain-card p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}


@media (max-width: 1200px) {
  .domain-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .domain-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .domain-section {
    padding: 60px 40px;
  }

  .domain-banner {
    padding-left: 40px;
  }
}

@media (max-width: 600px) {
  .domain-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .domain-banner {
    height: 200px;
    padding-left: 20px;
  }

  .domain-banner h1 {
    font-size: 24px;
  }

  .domain-section {
   padding: 30px 6px;
  }
}
