.slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;

}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
  
}

/* .arrow:hover {
  background: rgba(0, 0, 0, 0.6);
} */

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}

.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background: #fff;
  transform: scale(1.2);
}


.services {
  padding: 60px 80px;
}

.services-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ff3b6a;

}

.services-title span {
  color: black;
  border-bottom: 3px solid #ff3b6a;
  padding-bottom: 4px;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card {
  background: #fff;
  border-radius: 14px;
  padding: 35px 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

.service-card:hover .icon {
  background: #ff3b6a;
  color: #ffffff;
}

.service-card p {
  transition: color 0.3s ease;
}

.service-card:hover p {
  color: #ff3b6a;
}


.service-card .icon {
  width: 55px;
  height: 55px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background: #ffe6ec;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3b6a;
  font-size: 26px;
}

.service-card p {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

.about-section {
  padding: 80px 0;
  background: #fff;
}

.about-container {
  max-width: 1420px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 30px;
  align-items: flex-start;
}

.about-left img {
  width: 100%;
  border-radius: 6px;
}

.about-title {
  font-size: 32px;
  margin-bottom: 25px;
}

.about-title span {
  color: #e91e63;
  border-bottom: 3px solid #e91e63;
  padding-bottom: 4px;
}

.about-accordion {
  margin-bottom: 15px;
}


.about-accordion-header {
  width: 100%;
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 16px 22px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.about-accordion-header span {
  font-size: 26px;
  line-height: 1;
}


.about-accordion-body {
  border: 1px solid #e91e63;
  border-top: none;

  background: #fff;
}

.about-accordion-body p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #444;
}



.about-accordion-body .about-list {
  padding-left: 22px;
  margin-top: 10px;
}

.about-accordion-body .about-list li {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 12px;
  color: #444;
}

.about-accordion-body .about-list li::marker {
  font-size: 16px;
  color: #444;
}

.about-accordion-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
}


.about-accordion-body.open {
  max-height: 1000px;
  opacity: 1;
  padding: 16px 15px;
}


.about-box {
  border: 1px solid #e91e63;
  background: #fff;
}

.about-box-title {
  color: #e91e63;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}


.about-box p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #444;
}



.about-list {
  padding-left: 22px;
  margin-top: 10px;
}

.about-list li {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 12px;
  color: #444;
}


.about-list li::marker {
  font-size: 16px;
  color: #444;
}



/* Technologyyy */

.technology {
  padding: 40px 80px;
  background: #fff;
}

.tech-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tech-title span {
  color: #ff0033;
  border-bottom: 2px solid #ff0033;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px 60px;
}

.tech-card {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 10px;
}

.tech-card img {
  width: 200px;
  height: 200px;
}

.tech-content {
  flex: 1;
  text-align: center;
}

.tech-content h3 {
  font-size: 18px;
  margin-bottom: 16px;
  color: rgb(25, 25, 81);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tech-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tech-links a {
  position: relative;
  font-size: 14px;
  color: #452e4e;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media (max-width: 1024px) {
  .slider {
    height: 400px;
  }

  .arrow {
    font-size: 1.8rem;
    padding: 8px;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 25px 0;
    background: #fff;
  }

  .slider {
    height: 280px;
  }

  .arrow {
    font-size: 1.5rem;
    padding: 6px;
  }

  .arrow.left {
    left: 8px;
  }

  .arrow.right {
    right: 8px;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }

  .services {
    padding: 40px 20px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-container {
    grid-template-columns: 1fr;
  }
    .technology {
    padding: 30px 20px;
  }



  .about-accordion-header {
    font-size: 16px;
    padding: 14px 18px;
  }

}

@media (max-width: 640px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }

  .technology {
    padding: 10px 0;
  }

  .tech-card {
    flex-direction: column;
    text-align: center;
  }

  .tech-card img {
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
  }

  .tech-content {
    text-align: center;
  }

  .tech-links {
    flex-wrap: wrap;
    gap: 12px;
  }
}


@media (max-width: 480px) {
  .slider {
    height: 220px;
  }

  .arrow {
    font-size: 1.3rem;
    padding: 5px;
  }

  .dots {
    bottom: 10px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}