.program-banner {
  height: 280px;
  background: linear-gradient(rgba(111, 110, 110, 0.55), rgb(228 212 212 / 0%)), url("../assets/banner.png") top / cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.program-banner h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.program-container {
  padding: 40px 70px;
  background: #fff;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.section-title span {
  color: #e91e63;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: #e91e63;
  border-radius: 2px;
}

.branch-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.branch-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px 20px 15px 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.branch-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.branch-icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 18px;
}

.branch-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-bottom: 18px;
}

.branch-card button {
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.branch-card button:hover {
  background: #d81b60;
}

.locations-flexx {
  background: #000;
  padding: 20px 40px 20px 40px;
  margin-top: 25px;
}

.locations-innerr {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 12px;
  width: fit-content;
  padding-bottom: 40px;
}

.location-outer {
  border-bottom: 3px solid #fff;
  padding: 10px 110px 10px 0px;
}

.location-item a {
  color: #fff;
  font-size: 15px;
  white-space: nowrap;
  text-decoration: none;
}
.location-item.active a {
  color: #c59b3b;  
  font-weight: 600;
}

.location-item.active .pipe {
  opacity: 0.4;
}


.pipe {
  margin-left: 4px;
}

.pro-view-progrm {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.pro-view-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pro-view-icon {
  display: inline-flex;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
}

.pro-view-icon svg {
  font-size: 18px;
  color: #fff;
}

.pro-view-btn:hover .pro-view-icon {
  opacity: 1;
  transform: translateX(0);
}

.pro-view-btn:hover {
  background: #d81b60;
}

.readmore-wrapper {
  max-width: 1250px;
  margin: 30px auto 0;
  text-align: left;
}

.readmore-text {
  font-size: 15px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.readmore-full p {
  font-size: 15px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 18px;
}

.readmore-btn {
  background: #0d5ef4;
  color: #fff;
  border: none;
  padding: 10px 22px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: background 0.3s ease;
}

.readmore-btn:hover {
  background: #0a4ad4;
}



@media (max-width: 992px) {
  .program-banner {
    padding-left: 40px;
    height: 240px;
  }

  .program-banner h1 {
    font-size: 34px;
  }

  .program-container {
    padding: 30px 40px;
  }

  .branch-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .location-outer {
    padding-right: 80px;
  }
}



@media (max-width: 768px) {
  .program-banner {
    padding-left: 20px;
    height: 200px;
  }

  .program-banner h1 {
    font-size: 26px;
  }

  .program-container {
    padding: 20px;
  }

  .section-title {
    font-size: 26px;
  }

  .branch-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .locations-flexx {
    padding: 14px;
  }

  .location-outer {
    border-bottom: 3px solid #fff;
    padding: 10px 20px 10px 0px;
            overflow: hidden;
  }

  .readmore-wrapper {
    margin-top: 30px;
    padding: 10px;
  }

  .pipe {
    display: none;
  }

  .locations-innerr {
    gap: 20px 20px;

    padding-bottom: 25px;
  }
}

@media (max-width: 468px) {
  .branch-grid {
    grid-template-columns: 1fr;

  }
.location-item{
  font-size: 14px;
}
  .section-title {
    font-size: 26px;
  }
}